/* styles.css */

/* Reset de marges i padding */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', "Calibri", 'Trebuchet MS', sans-serif, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estils per a la navbar */
nav {
    padding: 15px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ff6363;
    font-weight: bold;
}

nav ul li a:hover {
    color: #007bff;
}

/* Estils per al contenidor principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estils per a les files i columnes */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

/*FIXED BOTTOM*/
.fixed-bottom{
  padding-left: 25px;
  padding-right: 25px;
  color: #ff6363;
  background-color: #fac941;
}

.col {
    flex: 1;
    min-width: 300px;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
}

/* Estils per a títols i paràgrafs */
h1, h2 {
    color: #ff6363;
}

p {
    color: #ff6363;
}
